*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #150047;
    color: #fff;
}
header{
    padding:20px;
    background-color: #00314d;
    display: flex;
    justify-content: space-between;
}
#logo{
    display: flex;
    gap:10px;
    align-items: center;
}
#itens{
    display: flex;
    gap: 20px;
    align-items: center;
}
#carrinho-img{
    display: flex;
    justify-content: space-between;
}